[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sheroork
[access "refs/for/refs/*"]
	read = group user/sheroork
	push = group user/sheroork
	label-Code-Review = -2..+2 group user/sheroork
	label-Verified = -1..+1 group user/sheroork
	rebase = group user/sheroork
	removeReviewer = group user/sheroork
	submit = group user/sheroork
[access "refs/heads/*"]
	read = group user/sheroork
	create = group user/sheroork
	push = +force group user/sheroork
	pushMerge = group user/sheroork
[access "refs/tags/*"]
	push = +force group user/sheroork
	pushTag = group user/sheroork
	pushSignedTag = group user/sheroork
